---
layout: posts_corporate
---

<section class="posts__content">
  {% set postslist = collections.corporate %} {% for corporate in postslist |
  reverse %} {% if corporate.url != page.url %}
  <figure class="posts__card">
    <a href="{{ corporate.url | url }}" class="posts__link">
      <!-- src="{{corporate.url}}{{corporate.data.coverImage}}" -->
      <img
        src="{{corporate.data.coverImage}}"
        class="posts__image-cover"
        alt="{{ corporate.data.title }} cover image"
      />
      <figcaption class="posts__image-caption">
        {{ corporate.data.title }}
      </figcaption>
    </a>
  </figure>
  {% endif %} {% endfor %}
</section>
<script>
  let lowRes = "w_400";
  let allImage = document.querySelectorAll(".posts__image-cover");

  // create
  let preUrl = "https://res.cloudinary.com/lightpositive/";
  let allImageSrc = [];
  let allImageSrcMid = [];
  let allImageSrcHi = [];
  let currentIndex = { i: 0 };
  allImage.forEach((element) => {
    let src = element.getAttribute("src");
    // let matched = src.match(/upload\/(?:v\d+\/)?([^\.]+)/);
    let matched = src.match(/lightpositive\/(?:v\d+\/)([^]+)\.(?!.*\.)/);
    let srcNew = preUrl.concat(lowRes, "/", matched[1]);
    allImageSrc = [...allImageSrc, srcNew];
    element.setAttribute("src", srcNew);
  });
</script>
