---
layout: default
---
<!-- prettier-ignore -->
<!-- capture the CSS content as a Nunjucks variable -->
{% set css %} {% include "src/static/css/gallery.css" %} {% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | safe }}
</style>
<section class="post__content">
  <div class="post__image-extra-mobile">
    <div class="post__image-selected-mobile">
      {% set postlist = collections.corporate %}
      {% for post in postlist %}
      {% set images = post.data.galleryImages %} 
      {% for image in images %} 
      {% if page.url == post.url %}

      <div class="post__card-mobile">
        <img
          src="{{image}}"
          loading="lazy"
          class="post__image-mobile"
          sizes="(max-width: 30em) 30em, 100vw"
          alt=""
        />
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- capture the JS content as a Nunjucks variable -->
{% set js %} {% include "src/static/js/gallery.js" %} {% endset %}
<!-- feed it through our jsmin filter to minify -->
<script>
  {{ js | safe }}
</script>
