---
layout: default
---

<!-- prettier-ignore -->
<section class="post__content" >
  <div class="post__image-extra">
    <div class="post__image-container">
    </div>
  </div>
<div class="post__scroller">
  
    {% set postlist = collections.festival %}
    {% for post in postlist %}
  
    {% set images = post.data.galleryImages %}
    {% for image in images %}
  
    {% if page.url == post.url %}
  
    <div class="post__card">
      <img src="{{image}}" loading="lazy" class="post__image" sizes="(max-width: 30em) 30em, 100vw" alt="" />
    </div>
    
    {% endif %}
    
    {% endfor %}
  
    {% endfor %} 
    
    </div>
  </section>
<script>
  let lowRes = "w_256";
  let midRes = "w_512";
  let hiRes = "w_1024";

  let allImage = document.querySelectorAll(".post__image");
  const postExtra = document
    .getElementsByClassName("post__image-extra")
    .item(0);
  const postContent = document.getElementsByClassName("post__content").item(0);
  const postBody = document
    .getElementsByClassName("post__image-container")
    .item(0);

  let preUrl = "https://res.cloudinary.com/lightpositive/image/upload/";
  let allImageSrc = [];
  let allImageSrcMid = [];
  let allImageSrcHi = [];
  let currentIndex = { i: 0 };
  let img = document.createElement("img");
  allImage.forEach((element) => {
    let src = element.getAttribute("src");
    // let matched = src.match(/upload\/(?:v\d+\/)?([^\.]+)/);
    let matched = src.match(/upload\/(?:v\d+\/)([^]+)\.(?!.*\.)/);
    let srcNew = preUrl.concat(lowRes, "/", matched[1]);
    allImageSrc = [...allImageSrc, srcNew];
    let srcNewMid = preUrl.concat(midRes, "/", matched[1]);
    allImageSrcMid = [...allImageSrcMid, srcNewMid];
    let srcNewHi = preUrl.concat(hiRes, "/", matched[1]);
    allImageSrcHi = [...allImageSrcHi, srcNewHi];
    element.setAttribute("src", srcNew);
    element.setAttribute(
      "srcset",
      `${srcNew} 256w, ${srcNewMid} 512w, ${srcNewHi} 1024w,`
    );
  });

  img.src = allImageSrc[currentIndex.i];
  img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
    allImageSrcMid[currentIndex.i]
  } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
  allImage[currentIndex.i].classList.toggle("selectedImage");
  img.className = "post__image-selected";

  postExtra.appendChild(img);
  allImage.forEach((element) => {
    element.addEventListener("click", (e) => {
      allImage.forEach((element) => {
        element.classList.remove("selectedImage");
      });
      currentImageSrc = e.target.getAttribute("src");
      currentImageSrcSet = e.target.getAttribute("srcset");
      img.src = currentImageSrc;
      img.srcset = currentImageSrcSet;
      element.classList.toggle("selectedImage");
      currentIndex.i = allImageSrc.indexOf(currentImageSrc);
    });
  });
  let buttonLeft = document.createElement("button");
  buttonLeft.className = "post__button-left";
  buttonLeft.textContent = "<";
  postBody.appendChild(buttonLeft);
  let buttonRight = document.createElement("button");
  buttonRight.className = "post__button-right";
  buttonRight.textContent = ">";
  postBody.appendChild(buttonRight);

  buttonRight.addEventListener("click", (e) => {
    if (currentIndex.i < allImageSrc.length - 1) {
      allImage.forEach((element) => {
        element.classList.remove("selectedImage");
      });
      currentIndex.i++;
      img.src = allImageSrc[currentIndex.i];
      img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
        allImageSrcMid[currentIndex.i]
      } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
      allImage[currentIndex.i].classList.toggle("selectedImage");
    }
  });
  buttonLeft.addEventListener("click", (e) => {
    if (currentIndex.i > 0) {
      allImage.forEach((element) => {
        element.classList.remove("selectedImage");
      });
      currentIndex.i--;
      img.src = allImageSrc[currentIndex.i];
      img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
        allImageSrcMid[currentIndex.i]
      } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
      allImage[currentIndex.i].classList.toggle("selectedImage");
    }
  });

  // img.addEventListener("click", (e) => {
  //   img.classList.toggle("maxi");
  // });
</script>
