---
layout: default
---

<!-- prettier-ignore -->
<section class="post__content">

  <div class="post__image-extra-mobile">
  <div class="post__image-selected-mobile">

    {% set postlist = collections.corporate %} 
    {% for post in postlist %}
    
    {% set images = post.data.galleryImages %} 
    {% for image in images %}
    
    {% if page.url == post.url %}
  
    <div class="post__card-mobile">
      <img src="{{image}}" loading="lazy" class="post__image-mobile" sizes="(max-width: 30em) 30em, 100vw" alt="" />
    </div>
    
    {% endif %}
    
    {% endfor %}
  
    {% endfor %} 
  
    </div>
  </div>
    <!-- <div class="post__image-extra">
    <div class="post__image-container">
    </div>
  </div> -->
  <div class="post__scroller">

  {% set postlist = collections.corporate %} 
  {% for post in postlist %}
  
  {% set images = post.data.galleryImages %} 
  {% for image in images %}
  
  {% if page.url == post.url %}

  <div class="post__card">
    <img src="{{image}}" loading="lazy" class="post__image" sizes="(max-width: 30em) 30em, 100vw" alt="" />
  </div>
  
  {% endif %}
  
  {% endfor %}

  {% endfor %} 

  </div>
</section>
<script>
  let isDesktop = true;
  if (
    "ontouchstart" in document.documentElement &&
    /mobi/i.test(navigator.userAgent)
  ) {
    isDesktop = false;
  }

  let lowRes = "w_256";
  let midRes = "w_512";
  let hiRes = "w_1024";

  let allImage = document.querySelectorAll(".post__image");
  const postExtra = document
    .getElementsByClassName("post__image-extra")
    .item(0);
  const postContent = document.getElementsByClassName("post__content").item(0);
  const postBody = document
    .getElementsByClassName("post__image-container")
    .item(0);
  // create
  let preUrl = "https://res.cloudinary.com/lightpositive/image/upload/";
  let allImageSrc = [];
  let allImageSrcMid = [];
  let allImageSrcHi = [];
  let currentIndex = { i: 0 };
  let img = document.createElement("img");
  allImage.forEach((element) => {
    let src = element.getAttribute("src");
    // let matched = src.match(/upload\/(?:v\d+\/)?([^\.]+)/);
    let matched = src.match(/upload\/(?:v\d+\/)([^]+)\.(?!.*\.)/);
    let srcNew = preUrl.concat(lowRes, "/", matched[1]);
    allImageSrc = [...allImageSrc, srcNew];
    let srcNewMid = preUrl.concat(midRes, "/", matched[1]);
    allImageSrcMid = [...allImageSrcMid, srcNewMid];
    let srcNewHi = preUrl.concat(hiRes, "/", matched[1]);
    allImageSrcHi = [...allImageSrcHi, srcNewHi];
    element.setAttribute("src", srcNew);
    element.setAttribute(
      "srcset",
      `${srcNew} 256w, ${srcNewMid} 512w, ${srcNewHi} 1024w,`
    );
  });

  const scrollMobile = document
    .getElementsByClassName("post__image-selected-mobile")
    .item(0);

  allImage.forEach((element) => {
    element.addEventListener("click", (e) => {
      allImage.forEach((element) => {
        element.classList.remove("selectedImage");
      });
      currentImageSrc = e.target.getAttribute("src");
      // currentImageSrcSet = e.target.getAttribute("srcset");
      // img.src = currentImageSrc;
      // img.srcset = currentImageSrcSet;
      element.classList.toggle("selectedImage");
      currentIndex.i = allImageSrc.indexOf(currentImageSrc);
      scrollMobile.scrollTo({
        top: 0,
        left: window.innerWidth * currentIndex.i,
        behavior: "smooth",
      });
    });
  });

  window.addEventListener("resize", () => {
    scrollMobile.scrollTo({
      top: 0,
      left: window.innerWidth * currentIndex.i,
      behavior: "smooth",
    });
  });
  scrollMobile.addEventListener("scroll", (e) => {
    currentIndex.i = Math.round(e.target.scrollLeft / window.innerWidth);
    allImage.forEach((element) => {
      element.classList.remove("selectedImage");
    });
    allImage.forEach((e) => {
      currentImageSrc = e.getAttribute("src");
      if (currentImageSrc == allImageSrc[currentIndex.i]) {
        e.classList.add("selectedImage");
      }
    });
  });

  //   // create selected image desktop
  // img.src = allImageSrc[currentIndex.i];
  // img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
  //   allImageSrcMid[currentIndex.i]
  // } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
  // allImage[currentIndex.i].classList.toggle("selectedImage");
  // img.className = "post__image-selected";

  // postExtra.appendChild(img);
  // allImage.forEach((element) => {
  //   element.addEventListener("click", (e) => {
  //     allImage.forEach((element) => {
  //       element.classList.remove("selectedImage");
  //     });
  //     currentImageSrc = e.target.getAttribute("src");
  //     currentImageSrcSet = e.target.getAttribute("srcset");
  //     img.src = currentImageSrc;
  //     img.srcset = currentImageSrcSet;
  //     element.classList.toggle("selectedImage");
  //     currentIndex.i = allImageSrc.indexOf(currentImageSrc);
  //   });
  // });

  if (isDesktop) {
    console.log("desktop");
  } else {
    alert("mobile");
  }
  // // add navigation buttons
  // let div1 = document.createElement("div");
  // let div2 = document.createElement("div");
  // let BackLink = document.createElement("a");
  // let buttonMid = document.createElement("button");
  // BackLink.setAttribute("href", "/references/corporate");
  // BackLink.textContent = "X";
  // buttonMid.className = "post__button-mid";
  // buttonMid.appendChild(BackLink);
  // let buttonLeft = document.createElement("button");
  // buttonLeft.className = "post__button-left";
  // buttonLeft.appendChild(div1);
  // div1.textContent = "<";
  // postBody.appendChild(buttonLeft);
  // postBody.appendChild(buttonMid);
  // let buttonRight = document.createElement("button");
  // buttonRight.className = "post__button-right";
  // buttonRight.appendChild(div2);
  // div2.textContent = ">";
  // postBody.appendChild(buttonRight);

  // // button navigation
  // buttonRight.addEventListener("click", (e) => {
  //   if (currentIndex.i < allImageSrc.length - 1) {
  //     allImage.forEach((element) => {
  //       element.classList.remove("selectedImage");
  //     });
  //     currentIndex.i++;
  //     img.src = allImageSrc[currentIndex.i];
  //     img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
  //       allImageSrcMid[currentIndex.i]
  //     } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
  //     allImage[currentIndex.i].classList.toggle("selectedImage");
  //   }
  // });
  // buttonLeft.addEventListener("click", (e) => {
  //   if (currentIndex.i > 0) {
  //     allImage.forEach((element) => {
  //       element.classList.remove("selectedImage");
  //     });
  //     currentIndex.i--;
  //     img.src = allImageSrc[currentIndex.i];
  //     img.srcset = `${allImageSrc[currentIndex.i]} 256w, ${
  //       allImageSrcMid[currentIndex.i]
  //     } 512w, ${allImageSrcHi[currentIndex.i]} 1024w,`;
  //     allImage[currentIndex.i].classList.toggle("selectedImage");
  //   }
  // });

  // // hide navigation buttons
  // window.addEventListener("load", (e) => {
  //   buttonLeft.classList.add("fadeIn");
  //   buttonMid.classList.add("fadeIn");
  //   buttonRight.classList.add("fadeIn");
  //   setTimeout(() => {
  //     buttonLeft.classList.toggle("fade");
  //     buttonMid.classList.toggle("fade");
  //     buttonRight.classList.toggle("fade");
  //   }, 3000);
  // });
  // window.addEventListener("mousemove", (e) => {
  //   let tempE = e;
  //   buttonLeft.classList.toggle("fade");
  //   buttonMid.classList.toggle("fade");
  //   buttonRight.classList.toggle("fade");
  //   if (e == tempE) {
  //     setTimeout(() => {
  //       buttonLeft.classList.toggle("fade");
  //       buttonMid.classList.toggle("fade");
  //       buttonRight.classList.toggle("fade");
  //     }, 3000);
  //   }
  // });

  // img.addEventListener("click", (e) => {
  //   img.classList.toggle("maxi");
  // });
</script>
