---
layout: default
---

<div class="posts__body">
  <div class="posts__heading">
    <h2 class="posts__heading-title">
      KONFERENCIÁK - TRÉNINGEK - VÁLLALATI RENDEZVÉNYEK
    </h2>
    <figure class="posts__heading-subtitle">
      <blockquote class="posts__heading-quote">
        "Inkább pénzt veszítsek, mint bizalmat."
      </blockquote>
      <figcaption class="posts__heading-quote-caption">Robert Bosch</figcaption>
    </figure>
  </div>
  <article class="posts__markdown">{{ content | safe }}</article>
</div>
