<div class="nav__container">
  <nav class="nav__nav">
    <div class="nav__logo-warper">
      <a href="/" class="nav-logo-link">
        <img src="/static/img/logo-home-1.png" alt="" class="nav__logo-img" />
      </a>
    </div>

    <!--Menu-->
    <div class="nav__list-conatiner">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a class="nav__list-link" href="/">Kezdőlap</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/aboutus">Rólunk</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/references">Referenciák</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/contact">Kapcsolat</a>
        </li>
      </ul>
    </div>
    <!--Toggle button (hidden on large screens)-->
    <div class="nav-menu__conteiner">
        <button type="button" class="nav__button">
          <img
            src="/static/img/burger_menu.svg"
            class="nav__button-image"
            alt="Menu"
          />
        </button>
      </a>
    </div>
  </nav>
</div>
