<!-- prettier-ignore -->
<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
{% include "src/static/css/navbar.css" %}
{% endset %}
  <!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | safe }}
</style>
  <!-- <div class="nav__ginoplogo-container">
    <a class="nav__ginoplogo-link" href="/">
      <img class="nav__ginoplogo" src="/static/img/MFF kedvezményezetti infóblokk-1.jpg" alt="Támogatói logó">
    </a>
  </div> -->
<div class="nav__container">
  <nav class="nav__nav">
    <div class="nav__logo-warper">
      <div class="nav__ginop-warper">
        <a href="/ginop" class="nav-ginoplogo-link">
          <img class="nav__ginoplogo" src="/static/img/sztp.svg" alt="Széchenyi terv plusz pályázat">
        </a>
        <a class="nav-ginoplogo-link">
          <img class="nav__ginoplogo" src="/static/img/mok-eu.svg" alt="Magyarország kormánya és Európai únió logó">
        </a>
        <a href="/ginop1" class="nav-ginoplogo-link">
          <img class="nav__ginoplogo" src="/static/img/sz2020.svg" alt="Széchenyi 2020 pályázat">
        </a>
      </div>
      <a href="/" class="nav-logo-link">
        <img src="/static/img/logo-home-1.png" alt="" class="nav__logo-img" />
      </a>

    </div>

    <!--Menu-->
    
    <div class="nav__list-conatiner">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a class="nav__list-link" href="/">Kezdőlap</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/aboutus">Rólunk</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/references">Referenciák</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__list-link" href="/contact">Kapcsolat</a>
        </li>
      </ul>
    </div>
    <!--Toggle button (hidden on large screens)-->
    <div class="nav-menu__conteiner">
        <button type="button" class="nav__button">
          <img
            src="/static/img/burger_menu.svg"
            class="nav__button-image"
            alt="Menu"
          />
        </button>
      </a>
    </div>
  </nav>
</div>
